header 
{
    z-index: 1;
}
.custom_li
{
    display: inline;
}

.hero_section_img
{
    background-image: url('../images/hero-bg.jpg');
    filter: brightness(50%);
    background-attachment: fixed;
    background-position:  center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.custom_nav
{
    z-index: 1;
}
.navbar a:hover, .navbar,.navbar  .active , .navbar li>a
{
    
    color:red

}

.nav-item a 
{
    position: relative;
}
.nav-item a:after {
    position: absolute;
    content: '';
    height: 40px;
    width: 100%;
    border-bottom: solid 3px #ffffff;
    transition: all 1s ease-in;
    opacity: 0;
    bottom: 0;
    left: 0;
  }
  
  .nav-item a:hover:after {
    opacity: 1;
  }
.custom_hero_image
{
    background-position: center;
    background-size: cover;
    height: 100vh;
}
 .animated-text span::before{
    content: "Developer";
    animation: words 1s infinite;

}

 .animated-text span::after{
    content: "";
    position: absolute;
    height: 100%;
    text-align: center;
    animation: cursor .8s infinite, typing 1s steps(14) infinite;
}



@keyframes words {
   
    0%,10%{
        content: "Designer";
    }
    11%,21%{
        content: "Developer";
    }
    41%,61%{
        content: "Photographer";
    }
    71%,100%{
        content: "Freelance";
    }

    
}
.profile_info li
{
    font-size: 17.6px;
    line-height: 26.4px;
    color: #1e1e1e;
}
.profile_info li span
{
    color: #4e4e4e;
    font-size: 16px;
    line-height: 24px;
}
.h1_hero
{
    font-size: 72px;
    line-height: 86.4px;
}
.About_parent
{
    background-color: #eee;
}
.custom_h2_about h2
{
    line-height: 24px;
}
.custom_h2_about::after
{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    border: 3px solid skyblue;
    top: 40px;
   left: 0;
    
}
.p_after_about
{
    font-size: 20px;
    line-height: 30px;
    width: 40rem;
}
.custom_progress
{
    margin-top:1px;
}

.custom_h3_title
{
    font-size: 3rem;
}
.custom_icon
{
    color: #0078ff;
}
.work-img
{
    cursor: pointer;
    overflow: hidden;
}
.work-img img
{
    transition: 1s all;
}
.work-img:hover img
{
    transform: scale(1.1);
}
.custom_work_portflio
{
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);

}
.custom_p_services::after
{
    content: "";
    position: absolute;
    width: 45px;
    height: 5px;
    background-color: #0078ff;
    border: 3px solid skyblue;
    top: 30px;
    right: 48%;
    
}
.services_section 
{

    background-color: #eeeeee;
}
.text_in_services p
{
    padding: 5px;
    width: 90%;
    margin: auto;
}
.services_section
{
    padding: 5%;
}
.layer_services
{
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
}

.layer_services .icon i
{
    background-color: white;
    width: 6rem;
    height: 6rem;
   border-radius: 50%;
   border: 10px solid #0078ff ;
   padding: 15px;
   transition: all 1s;
}
.layer_services:hover i
{
    border: 10px solid skyblue;
    background-color: #0078ff;
    color: white;
    
}
.below_services
{
    background-image: url('../images/counters-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    
}
.layer_below_services
{
    background-color: rgba(0, 120, 255, 0.5);
    width: 100%;
    height: 100%;
    
   
}
.layer_below_services .container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inner_layer i 
{
    width: 120px;
    height: 120px;
   padding: 30px;
   border-radius: 50%;
   border: 10px solid #fff ;
}

.carousel_parent
{
    background-image: url('../images/overlay-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%; 
}

 .custom_carousel_btn  [data-bs-target]
{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.item p
{
    padding: 0 8rem;
    font-size: 1.5rem;
}

.icon_footer
{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.contact_section
{
    background-image: url('../images/overlay-bg.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.custom_h2_contact::after
{
    content: "";
    position: absolute;
    width: 7rem;
    height: 5px;
    background-color: #0078ff;
    border: 3px solid 0062d3;
    bottom: 0px;
    left: 0;
    
}



.Send_button button
{
    border-radius: 15px;
}

.layer_contact .icon i
{
    background-color: white;
    width: 4rem;
    height: 4rem;
    border:2px solid #0078ff;
    transition: all 1s;
    border-radius: 50%;
    text-align: center;
}
.icon_contact   :hover i
{
    border: 2px solid skyblue;
    background-color: #0078ff;
    color: white;
}
footer
{
    background-color: #0062d3;
}

/* input
{
    transition: all 0.5s;
}
input:hover
{
    border-color: 0.15s ease-in-out;
    box-shadow: 0.15s 0.15s ease-in-out;
} */